body {
    margin:0;
    min-height: 100vh;
}

header {
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    flex-wrap: wrap;
}

header h2 {
    padding-left: 18px;
}

header a{
    border: 2px solid blanchedalmond;
    border-radius: 12px;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    align-self: center;
}

.play{
    margin: 152px 50px 50px;
    padding: 22px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.play img{
    height: 180px;
}

button{
    padding: 0px;
}