body {
    margin:0;
    min-height: 100vh;
}

header {
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    flex-wrap: wrap;
}

header h2 {
    padding-left: 18px;
}

header a{
    border: 2px solid blanchedalmond;
    border-radius: 12px;
    padding: 3px;
    padding-right: 18px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    align-self: center;
}

.play{
    margin: 152px 50px 50px;
    padding: 22px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.choice img {
    height: 188px;
    width: 188px;
    padding: 2px;
}

.choice button{
    border: 5px solid black;
    border-radius: 12px;
}

.play .choice button:hover{
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
}

.btn {
    margin: 12px;
    display: flex;
    justify-content: space-around;
}

.btn button{
    width: 50px;
    padding: 2px;
    border: 3px solid black;
    border-radius: 6px;
}

.btn button:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.output{
    margin: 80px;
    padding: 14px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

.round, .player, .comp, .win{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}
